* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
.decoration-none {
    text-decoration: none;
}
.style-none {
    list-style: none;
}
.menu {
    background-color: #eee;
    width: 800px;
    margin: 10px auto;
    border-radius: 10px;
}
.menu>ul {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 10px;
}
.menu>ul>li {
    position: relative;
    /* border:1px solid green */
}
.menu>ul>li .dropdown {
    /* border: 1px solid red; */
    width:200px;
    position: absolute;
    top:50px;
    left:50%;
    padding-top: 8px;
    transform: translateX(-50%);
} 
.menu>ul>li .dropdown::before {
    content: '';
    border: 8px solid transparent;
    border-bottom-color: #f5f5f5;
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.menu ul ul {
    background-color: #f5f5f5;
    border-radius:10px;
    padding: 5px;
}
.menu ul ul li a {
    display: block;
    padding: 0 15px;
    color: #555;
    line-height: 30px;
    border-radius: 34px;
}
.menu ul ul li a:hover {
    background-color: white;
    color: #000;
}
.menu>ul>li>a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    color: #333;
    border-radius: 40px;
}
.menu>ul>li>a:hover {
    background-color: #fff;
}