* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none
}
.menu {
    background-color: #eee;
    width: 700px;
    border-radius: 10px;
    margin: 50px auto;
}
.menu > ul {
    height: 60px;
    display: flex;
    /* border: 1px solid red; */
    padding: 0 10px;
}
.menu > ul > li {
    position: relative;
    border: 1px solid red;
    height: 60px;
    display: flex;
    align-items: center;
    /* line-height: 60px; */
}
.menu > ul > li > a {
    display: inline-block;
    /* border: 1px solid green; */
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    padding: 0 15px;
    color: #333;
    border-radius: 40px;
}
.menu > ul > li:hover > a +  .dropdown {
    display: block;
}
.menu > ul > li:hover > a {
    background-color: #fff;
}
.menu ul .dropdown {
    border: 1px solid green;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    padding-top: 10px;
    display: none;
}
.menu ul .dropdown::before {
    content: '';
    border: 8px solid transparent;
    border-bottom-color: #f5f5f5;
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
}
.menu ul .dropdown ul {
    border: 1px solid red;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 7px 0;
}
.menu ul .dropdown ul li {
    position: relative;
    padding: 0 7px;
}
.menu ul .dropdown ul li a {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 34px;
    padding: 0 15px;
    border-radius: 34px;
    color: #555;
}
.menu ul .dropdown ul li:hover > a {
    background-color: #fff;
    color: #000;

}
.menu ul .dropdown .dropdown {
    left: 190px;
    top: 0;
    border: 1px solid green;
    transform: translateX(0%);
    padding-top: 0;
    padding-left: 20px;
}
.menu ul .dropdown ul li:hover .dropdown {
    display: block;
}
.menu ul .dropdown .dropdown::before {
    border: 8px solid transparent;
    border-right-color: #f5f5f5;
    left:12px;
    top:12px;
    transform: translateX(-50%);
}